.burger{
    display: none;
    width: 100%;
    background-color: #EEF0EF;
    position: sticky;
    z-index: 1;
    top: 0;
    color: #404040;
    text-align: center;
    height: 50px;
    text-transform: uppercase;  
    font-size: 18px;
}

#check-menu{
    display: none;
}

.lab{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    cursor: pointer;
    z-index: 2;
    line-height: 50px;
}

.burger-line{
    position: absolute;
    top: 13px;
    right: 10px;
    width: 35px;
    height: 2px;
    background-color: #404040;
    transition: 0.8s all;
}

.second, .third{
    top: 23px;
}

.fourth{
    top: 33px;
}

.main-menu{
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    transition: 0.5s all;
}

.burger-list{
    display: block;
    width: 100%;
    padding: 15px;
    color: #404040;
    text-decoration: none;
    border-bottom: 1px solid#fff;
    background-color: #EEF0EF;
}

.burger-list:hover{
    background-color: rgba(64, 64, 64, 1);
    color: rgba(238, 240, 239, 1);
}

#check-menu:checked ~ .main-menu{
    max-height: 500px;
     font-size: 30px;
}

#check-menu:checked ~ .first{
    display: none;
}

#check-menu:checked ~ .second{
    transform: rotate(135deg);
}

#check-menu:checked ~ .third{
    transform: rotate(-135deg);
}

#check-menu:checked ~ .fourth{
    display: none;
}