@import "_nullstyle";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Roboto:wght@700&display=swap');

body{
    font-family: 'Open Sans';

    .wrapper{
        width: 100%;
        .cont{
            margin: 0 auto;
            max-width: 1400px;

            .block__title{
                font-size: 30px;
                font-weight: 700;
                letter-spacing: 0.05em;
            }

            .block__info{
                max-width: 620px;
            }
        }
    }
}

header{
    .navbar{
        background-color: #fff;
        max-width: 1400px;
        margin: 0 auto;
        padding: 0 100px;

        .nav-link{
            font-size: 20px;
            font-weight: 600;
            color: #212121;
            cursor: url('../img/point2.png'), auto;
        }

        .navbar-brand{
            font-size: 25px;
            font-weight: 700;
        }

        .search-box{
            display: flex;
            align-items: center;
            height: 40px;
            border-radius: 40px;
            padding: 10px;
        
            .search-btn {
                width: 40px;
                height: 40px;
                text-decoration: none;
                border: none;
                background-color: #fff;
                
                .fa-search{
                    color: #000;
                }
            }
        
            .search-txt {
                border: none;
                outline: none;
                background: none;
                padding: 0;
                font-size: 20px;
                font-weight: 600;
                color: #000;
                transition: .4s;
                width: 0;
            }
        
        }
    }

    .header__face{
        width: 100%;
        height: 665px;
        background: url('../img/header/header.png');
        background-position: bottom;
        background-size: cover;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 120px;

        h1{
            padding: 180px 0 25px 0;
            font-size: 60px;
            font-weight: 600;
            letter-spacing: 0.05em;
        }

        h2{
            font-size: 22px;
            font-weight: 400;
            letter-spacing: 0.05em;
        }

        .header__btns{
            margin: 105px 0 100px 0;
            width: 465px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            button{
                color: #ffffff;
                background: none;
                font-family: Roboto;
                font-size: 20px;
                font-weight: 700;
                letter-spacing: 0.05em;
                width: 220px;
                height: 70px;
                border: 3px solid #f8f8f8;
                transition: 0.7s;
                cursor: url('../img/point1.png'), auto;

                &:hover{
                    background-color: #00897b;
                    border: none;
                }
            }
        }

        .arrow-down{
            text-decoration: none;
            font-size: 25px;
            transition: 0.3s;
            color: #ffffff;
            cursor: url('../img/point1.png'), auto;

            &:hover{
                font-size: 30px;
            }
            &:active{
                margin-top: 7px;
            }
        }

    }

    
}

.about{
    color: #212121;
    padding-top: 125px;

    .cont{
        display: flex;
        flex-direction: column;
        align-items: center;
    
        p{
            margin-top: 36px;
            text-align: center;
            font-size: 15px;
            line-height: 22px;
            letter-spacing: 0.05em;
        }
    
        h3{
            font-size: 20px;
            font-weight: 600;
        }

        .about__blocks{
            width: 100%;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            margin: 125px 0;

            .about__block{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 10px 10px;

                h3{
                    margin: 37px 0 25px 0;
                }

                p{
                    max-width: 260px;
                }
            }
        }
    }
    
}

.services{
    
    color: #212121;

    .cont{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #E4FDF9;
        padding: 123px 0 126px 0;

        .block__info{
            margin: 36px 0 112px 0;
            text-align: center;
            font-size: 15px;
            line-height: 22px;
            letter-spacing: 0.05em;
        }

        .services__blocks{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            max-width: 1170px;

            .services__block{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 370px;
                height: 438px;
                margin-bottom: 30px;
                background-color: #ffffff;
                padding: 58px 0 50px 0;
                transition: 0.4s;

                h3{
                    margin: 26px 0 38px 0;
                }

                .services__icon{
                    width: 56px;
                    height: 62px;
                    transition: 0.4s;
                    background: url('../img/services/services1.png') round;
                }

                p{
                    max-width: 270px;
                    margin-bottom: 46px;
                    text-align: center;
                    font-size: 15px;
                    line-height: 22px;
                    letter-spacing: 0.05em;
                }

                button{
                    width: 150px;
                    height: 55px;
                    border: 2px solid #212121;
                    background-color: #ffffff;
                    font-size: 20px;
                    font-weight: 600;
                    cursor: url('../img/point1.png'), auto;
                    transition: 0.4s;

                    &:hover{
                        background-color: #00897b;
                        border-color: #ffffff;
                        color: #ffffff;
                    }

                }
            }
            
            //Добавляем этот класс при наведении на кнопку
            .services__block-hover1{
                background-color: #00897b;
                color: #ffffff;

                .services__icon{
                    background: url('../img/services/services2.png') round;
                }
                
            }
            
        }
    }
}

.works {
    .cont{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 128px 0 136px 0;

        .block__info{
            margin: 36px 0 112px 0;
            text-align: center;
            font-size: 15px;
            line-height: 22px;
            letter-spacing: 0.05em;
        }

        .works__tabs{
            display: flex;
            flex-direction: column;
            align-items: center;
            
            ul{
                display: flex;
                justify-content: space-between;
                width: 697px;
                margin-bottom: 129px;

                .tab{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 179px;
                    height: 55px;
                    border: 2px solid #00897b;
                    font-size: 20px;
                    font-weight: 600;
                    cursor: url('../img/point2.png'), auto;
                    transition: 0.4s;

                    &:hover{
                        color: #ffffff;
                        background-color: #00897b;
                    }

                    &:target{
                        color: #ffffff;
                        background-color: #00897b;
                    }
                }

                .tab-click{
                    color: #ffffff;
                    background-color: #00897b;
                }

                .tab1{
                    width: 100px;
                }
            }

            .tab-body{
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                max-width: 1170px;

                .works__presentation{
                    width: 370px;
                    height: 370px;
                    margin-bottom: 30px;
                    position: relative;

                    &:hover a{
                        opacity: 1;
                    }

                    img{
                        width: 100%;
                        height: 100%;
                    }

                    a{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0,0,0,0.8);
                        color: #ffffff;
                        text-decoration: none;
                        cursor: url('../img/point1.png'), auto;
                        transition: 0.4s;
                        opacity: 0;

                        .works__name{
                            font-size: 20px;
                            font-weight: 600;
                            letter-spacing: 0.05em;
                        }

                        .works__info{
                            font-size: 15px;
                            font-weight: 600;
                            letter-spacing: 0.05em;
                        }
                    }
                }
            }
        }

        .works__btn{
            width: 220px;
            height: 70px;
            background-color: #ffffff;
            border: 2px solid #00897b;
            font-family: Roboto;
            font-size: 20px;
            font-weight: 700;
            letter-spacing: 0.05em;
            color: #212121;
            margin-top: 120px;
            transition: 0.4s;
            cursor: url('../img/point2.png'), auto;

            &:hover{
                background-color: #00897b;
                color: #ffffff;
            }
        }
    }
}

.plan{

    .cont{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #F0F1F1;
        padding: 127px 0 124px 0;

        .block__info{
            margin: 29px 0 126px 0;
            text-align: center;
            font-size: 15px;
            line-height: 22px;
            letter-spacing: 0.05em;
        }

        .plan__prices{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            .price{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0 15px;
                width: 370px;
                height: 670px;
                background-color: #ffffff;

                .top{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    height: 180px;
                    background-color: #3949AB;
                    color: #ffffff;
                    position: relative;

                    &:before{
                        display: block;
                        content: '';
                        width: 100%;
                        height: 30px;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        transform: translateY(100%);
                        background: linear-gradient(to bottom right, #3949AB 50%, #ffffff 52%);
 
                    }

                    h3{
                        font-size: 25px;
                        font-weight: 400;
                    }

                    .price-per-month{
                        font-size: 17px;
                        font-weight: 400;
                        position: relative;
                        padding-left: 28px;

                        .dollar{
                            position: absolute;
                            font-size: 25px;
                            bottom: 25px;
                            left: 10px;
                        }

                        .zero{
                            font-size: 50px;
                        }
                    }
                }

                .info{
                    margin-top: 40px;
                    p{
                        text-align: center;
                        margin-top: 37px;
                        width: 178px;
                        height: 30px;
                        border-bottom: 1px solid #000;
                        font-size: 17px;
                        font-weight: 300;
                    }
                }

                button{
                    width: 180px;
                    height: 60px;
                    margin-top: 50px;
                    background-color: #ffffff;
                    border: 2px solid #000000;
                    font-size: 20px;
                    font-weight: 600;
                    color: #212121;
                    transition: 0.4s;
                    cursor: url('../img/point2.png'), auto;
        
                    &:hover{
                        background-color: #00897b;
                        border: 2px solid #00897b;
                        color: #ffffff;
                    }
                }
            }
        }
    }
}

.team{

    .cont{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 121px 0 124px 0;

        .block__info{
            margin: 29px 0 127px 0;
            text-align: center;
            font-size: 15px;
            line-height: 22px;
            letter-spacing: 0.05em;
        }

        .carousel{
            height: 630px;

            .carousel-indicators{
                
                .slide-btn{
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    background-color: #00897b;
                }
                .active{
                    background-color: #3949ab;
                }
            }

            .teammates{
                display: flex;
    
                .teammate{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 0 15px;
        
                    .teammate-photo{
                        width: 370px;
                        height: 320px;
        
                        img{
                            width: 100%;
                            height: 100%;
                            border-radius: 10px;
                        }
                    }
        
                    .teammate-name{
                        margin-top: 38px;
                        font-size: 20px;
                        line-height: 22px;
                        font-weight: 600;
                    }
        
                    .teammate-profession{
                        font-size: 15px;
                        line-height: 22px;
                    }
        
                    .teammate-links{
                        margin-top: 29px;
                        width: 290px;
                        display: flex;
                        justify-content: space-between;
        
                        a{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 50px;
                            height: 50px;
                            background-color: #f0f1f1;
                            border-radius: 10px;
                            font-size: 30px;
                            color: #00897b;
                            text-decoration: none;
                            transition: 0.3s;
        
                            &:hover{
                                color: #ffffff;
                                background-color: #3949ab;
                            }
                        }
                    }
                }
            }

        }

    }
}

.blog{

    .cont{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #E4FDF9;
        padding: 127px 0 125px 0;

        .block__info{
            margin: 29px 0 127px 0;
            text-align: center;
            font-size: 15px;
            line-height: 22px;
            letter-spacing: 0.05em;
        }

        .blog__content{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-left: 30px;

            .blog__img{
                max-width: 570px;
                margin-right: 35px;
            }

            .blog__post{
                left: 0;
                padding: 61px 170px 0 0;

                .blog__title{
                    font-size: 25px;
                    line-height: 22px;
                    font-weight: 600;
                    letter-spacing: 0.05em;
                    color: #212121;
                    text-decoration: none;
                    cursor: url('../img/point2.png'), auto;
                    transition: 0.3s;

                    &:hover{
                        color: #00897b;
                    }
                }

                .additional-info{
                    margin: 28px 0 32px 0;
                    font-size: 17px;
                    line-height: 22px;
                    font-weight: 600;
                    letter-spacing: 0.05em;

                    .blog__date{
                        background: url('../img/blog/icon/calendar.png') 0 0 no-repeat;
                        padding-left: 25px;
                    }

                    .blog__dev{
                        margin-left: 40px;
                        background: url('../img/blog/icon/paper.png') 0 0 no-repeat;
                        padding-left: 25px;
                    }
                }

                .blog__info{
                    max-width: 435px;
                    font-size: 15px;
                    letter-spacing: 0.05em;
                }
            }
        }

        .blog__more{
            margin-top: 125px;
            width: 220px;
            height: 70px;
            background-color: #00897b;
            font-family: Roboto;
            font-size: 20px;
            font-weight: 700;
            color: #ffffff;
            cursor: url('../img/point2.png'), auto;
            transition: 0.4s;

            &:hover{
                transform: scale(1.1);
            }
        }
    }
}

.contact{
    color: #ffffff;

    .cont{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #202020;
        padding: 128px 0 173px 0;

        .block__info{
            margin: 36px 0 101px 0;
            text-align: center;
            font-size: 15px;
            line-height: 22px;
            letter-spacing: 0.05em;
        }

        .contacts{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            max-width: 955px;

            .contact__block{
                display: flex;
                flex-direction: column;
                align-items: center;
                max-width: 265px;
                margin: 0 26px;

                .contact__img{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 105px;
                    height: 105px;
                    border-radius: 50%;
                    background-color: #3949ab;
                }
    
                .contact__info{
                    text-align: center;
                    margin: 39px 0 84px 0;
    
                    a{
                        font-size: 20px;
                        text-decoration: none;
                        line-height: 28px;
                        font-weight: 600;
                        letter-spacing: 0.05em;
                        color: #ffffff;
                        cursor: url('../img/point1.png'), auto;
                    }
                }
            }

        }

        form{
            width: 1031px;
            position: relative;

            .form__top{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                margin-bottom: 33px;

                .form_item{
                    position: relative;

                    .invalid-feedback{
                        position: absolute;
                        font-size: 20px;
                    }
                }

                input{
                    width: 500px;
                    height: 84px;
                    border-radius: 10px;
                    font-size: 20px;
                    font-weight: 600;
                    padding-left: 20px;
                }
            }

            textarea{
                width: 100%;
                height: 323px;
                padding: 29px 0 0 20px;
                border-radius: 10px;
                font-size: 20px;
                font-weight: 600;
            }

            button{
                position: absolute;
                right: 0;
                margin-top: 39px;
                width: 220px;
                height: 70px;
                background-color: #ffffff;
                border: none;
                border-radius: 10px;
                font-family: Roboto;
                font-size: 20px;
                line-height: 22px;
                font-weight: 700;
                color: #212121;
                transition: 0.3s;

                &:hover{
                    transform: scale(1.1);
                    cursor: url('../img/point2.png'), auto;
                }
            }
        }
    }
}

footer{
    height: 65px;
    .cont{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding-top: 15px;
        font-family: Roboto;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0.05em;
    }
}

